.center-text {
    text-align: center !important;
}

.di-4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.backg-success {
    background-color: greenyellow;
}

.backg-danger {
    background-color: red;
}

#list-items {
    width: max-content;
    margin: auto;
}
